/**
 * => Type 18
 **/
.bs-fp-t18 {
  overflow: hidden;
  line-height: 16px;
  font-family: arial;
  display: inline-block; }
  .bs-fp-t18 .fp-logo {
    width: 22px;
    text-align: center;
    display: inline-block;
    margin-right: 2px; }
  .bs-fp-t18 .fp-logo img {
    max-width: 100%;
    display: block; }
  .bs-fp-t18 .fp-arrow {
    font-size: 8px; }
  .bs-fp-t18 .fp-up {
    color: #1abe63; }
  .bs-fp-t18 .fp-down {
    color: #da2e32; }
  .bs-fp-t18 .fp-arrow-up:before {
    position: relative; }
  .bs-fp-t18 .fp-name {
    font-size: 13px;
    color: #393939;
    font-weight: bold;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%; }
  .bs-fp-t18 .fp-price {
    font-size: 13px;
    color: #393939;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    font-weight: bold; }
  .bs-fp-t18 .fp-changes {
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-left: 4px; }
  .bs-fp-t18 .ct-line {
    stroke-width: 1.5px !important; }
  .bs-fp-t18 .fp-up .ct-series-a .ct-area,
  .bs-fp-t18 .fp-up .ct-series-a .ct-slice-pie,
  .bs-fp-t18 .fp-up .ct-series-a .ct-slice-donut-solid {
    fill: url(#gradient-up) !important; }
  .bs-fp-t18 .fp-up .ct-line {
    stroke: #1abe63 !important; }
  .bs-fp-t18 .fp-down .ct-series-a .ct-area,
  .bs-fp-t18 .fp-down .ct-series-a .ct-slice-pie,
  .bs-fp-t18 .fp-down .ct-series-a .ct-slice-donut-solid {
    fill: url(#gradient-down) !important; }
  .bs-fp-t18 .fp-down .ct-line {
    stroke: #da2e32 !important; }
  .bs-fp-t18 .fp-fixed .ct-series-a .ct-area,
  .bs-fp-t18 .fp-fixed .ct-series-a .ct-slice-pie,
  .bs-fp-t18 .fp-fixed .ct-series-a .ct-slice-donut-solid {
    fill: url(#gradient-fixed) !important; }
  .bs-fp-t18 .fp-fixed .ct-line {
    stroke: #b2b2b2 !important; }
  .bs-fp-t18 .chart-text {
    display: block;
    line-height: 22px; }
    .bs-fp-t18 .chart-text > * {
      vertical-align: middle;
      display: inline-block; }
  .bs-fp-t18 .visualization {
    display: block;
    margin-top: 4px; }
  .bs-fp-t18 .bs-fp-chart-list > svg {
    padding-top: 2px; }
  .bs-fp-t18 .bs-fp-gradient {
    position: absolute;
    left: 0;
    bottom: 0; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t18.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t18.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t18.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t18.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t18.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t18.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t18.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t18.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t18.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t18.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t18.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t18.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t18.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t18.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t18.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t18.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t18.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp-t18.bs-fp-s0 {
    width: 100% !important; } }
