/**
 * => Type 11
 **/
.bsfp-widgets-list.bsfp-align-auto.bsfp-widget-18 .bsfp-list-inner {
  margin: 0 -20px -20px; }

.bsfp-widgets-list.bsfp-align-auto.bsfp-widget-18 .bs-fp {
  margin: 0 20px 20px; }

.bs-fp-t11 {
  line-height: 16px;
  font-family: arial;
  display: inline-block; }
  .bs-fp-t11 .fp-arrow {
    font-size: 8px; }
  .bs-fp-t11 .fp-up {
    color: #1abe63; }
  .bs-fp-t11 .fp-down {
    color: #da2e32; }
  .bs-fp-t11 .fp-arrow-up:before {
    position: relative; }
  .bs-fp-t11 .fp-name {
    font-size: 13px;
    color: #1a1919;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 3px; }
  .bs-fp-t11 .fp-price {
    font-size: 13px;
    color: #121212;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .bs-fp-t11 .fp-price sub {
    bottom: 0; }
  .bs-fp-t11 .fp-changes {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    display: inline-block; }
  .bs-fp-t11 .ct-line {
    stroke-width: 1.4px !important; }
  .bs-fp-t11 .fp-up .ct-series-a .ct-area,
  .bs-fp-t11 .fp-up .ct-series-a .ct-slice-pie,
  .bs-fp-t11 .fp-up .ct-series-a .ct-slice-donut-solid {
    fill: url(#gradient-up) !important; }
  .bs-fp-t11 .fp-up .ct-line {
    stroke: #1abe63 !important; }
  .bs-fp-t11 .fp-down .ct-series-a .ct-area,
  .bs-fp-t11 .fp-down .ct-series-a .ct-slice-pie,
  .bs-fp-t11 .fp-down .ct-series-a .ct-slice-donut-solid {
    fill: url(#gradient-down) !important; }
  .bs-fp-t11 .fp-down .ct-line {
    stroke: #da2e32 !important; }
  .bs-fp-t11 .fp-fixed .ct-series-a .ct-area,
  .bs-fp-t11 .fp-fixed .ct-series-a .ct-slice-pie,
  .bs-fp-t11 .fp-fixed .ct-series-a .ct-slice-donut-solid {
    fill: url(#gradient-fixed) !important; }
  .bs-fp-t11 .fp-fixed .ct-line {
    stroke: #b2b2b2 !important; }
  .bs-fp-t11 .chart-text {
    display: inline-block; }
  .bs-fp-t11 .visualization {
    display: inline-block;
    vertical-align: sub;
    margin-left: 8px;
    float: right; }
  .bs-fp-t11 .bs-fp-chart-list > svg {
    padding-top: 2px; }
  .bs-fp-t11 .bs-fp-gradient {
    position: absolute;
    left: 0;
    bottom: 0; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t11.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t11.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t11.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t11.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t11.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t11.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t11.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t11.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t11.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t11.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t11.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t11.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t11.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t11.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t11.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t11.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t11.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp-t11.bs-fp-s0 {
    width: 100% !important; } }
