/**
 * => Type 5 => Style 1.
 **/
.bs-fpt.bs-fpt-t5.bs-fpt-s1 {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 tbody {
    border: solid 1px #e4e4e4;
    border-top: none; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 tbody tr td {
    border: none;
    padding: 2px 9px; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 tbody tr:last-child td {
    padding-bottom: 3px; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 thead {
    background-color: #474747;
    border: solid 1px #474747; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 thead tr td {
    font-size: 11px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    padding: 0 9px 0;
    text-transform: uppercase; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-td-name {
    padding-right: 55px; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-name {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #1a1919;
    vertical-align: top; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-td-price {
    padding-right: 31px; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-price {
    font-size: 13px;
    font-weight: 400;
    color: #545454;
    display: inline-block;
    vertical-align: middle; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-td-changes {
    padding-right: 19px; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-arrow {
    font-size: 6px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 tbody tr td:last-child {
    padding-right: 12px; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-up {
    color: #1abe63; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-down {
    color: #da2e32; }
  .bs-fpt.bs-fpt-t5.bs-fpt-s1 .fpt-changes {
    font-size: 13px; }
