/**
 * => Type 19
 **/
.bs-fp.bs-fp-t19 {
  font-family: Arial;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: table !important; }
  .bs-fp.bs-fp-t19 .fp-td-name,
  .bs-fp.bs-fp-t19 .fp-td-chart,
  .bs-fp.bs-fp-t19 .fp-td-changes {
    display: table-cell; }
  .bs-fp.bs-fp-t19 .fp-tr-table {
    display: table-row; }
  .bs-fp.bs-fp-t19 .fp-tr-table + .fp-tr-table > div {
    border-top: dashed 1px #ebebeb; }
  .bs-fp.bs-fp-t19 .fp-td-name {
    padding: 11px 10px 11px 0; }
  .bs-fp.bs-fp-t19 .fp-logo {
    display: inline-block;
    width: 23px;
    margin-right: 5px; }
    .bs-fp.bs-fp-t19 .fp-logo img {
      max-width: 100%;
      height: auto; }
  .bs-fp.bs-fp-t19 .fp-name {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #1a1919;
    vertical-align: middle;
    margin-right: 2px; }
  .bs-fp.bs-fp-t19 .fp-td-price {
    padding: 11px 25px 11px 43px; }
  .bs-fp.bs-fp-t19 .fp-arrow {
    font-size: 11px;
    margin-right: 2px;
    vertical-align: middle; }
  .bs-fp.bs-fp-t19 .fp-arrow.fp-fixed {
    font-size: 15px; }
  .bs-fp.bs-fp-t19 .fp-price {
    font-size: 15px;
    font-weight: 400;
    color: #545454;
    display: inline-block;
    vertical-align: middle; }
  .bs-fp.bs-fp-t19 .fp-td-changes {
    padding: 11px 0 11px 10px;
    text-align: right; }
  .bs-fp.bs-fp-t19 .fp-changes {
    font-size: 13px; }
  .bs-fp.bs-fp-t19 .fp-up {
    color: #1abe63; }
  .bs-fp.bs-fp-t19 .fp-down {
    color: #da2e32; }

.bsfp-widgets-list.bsfp-align-columned .bs-fp.bs-fp-t19 {
  width: 100% !important; }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3.bsfp-widget-26 .bsfp-list-inner {
    overflow-x: visible; }
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t19.bs-fp-s0 {
    width: 500px !important; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4.bsfp-widget-26 .bsfp-list-inner {
    overflow-x: visible; }
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t19.bs-fp-s0 {
    width: 500px !important; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5.bsfp-widget-26 .bsfp-list-inner {
    overflow-x: visible; }
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t19.bs-fp-s0 {
    width: 500px !important; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6.bsfp-widget-26 .bsfp-list-inner {
    overflow-x: visible; }
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t19.bs-fp-s0 {
    width: 500px !important; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7.bsfp-widget-26 .bsfp-list-inner {
    overflow-x: visible; }
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t19.bs-fp-s0 {
    width: 500px !important; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8.bsfp-widget-26 .bsfp-list-inner {
    overflow-x: visible; }
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t19.bs-fp-s0 {
    width: 500px !important; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9.bsfp-widget-26 .bsfp-list-inner {
    overflow-x: visible; }
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t19.bs-fp-s0 {
    width: 500px !important; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10.bsfp-widget-26 .bsfp-list-inner {
    overflow-x: visible; }
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t19.bs-fp-s0 {
    width: 500px !important; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }
