/**
 * => Type 16
 **/
.bs-fp-t16 {
  font-family: arial;
  display: inline-block;
  position: relative; }
  .bs-fp-t16 .fp-name {
    font-size: 19px;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    margin-bottom: 8px; }
  .bs-fp-t16 .price-list {
    font-size: 10px;
    color: #1e1e1e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 13px -10px 0;
    background-color: white;
    border: 1px solid #cfcfcf;
    border-top: none;
    text-align: center;
    padding: 12px 6px;
    border-radius: 0 0 5px 5px;
    line-height: 14px; }
  .bs-fp-t16 .fp-price {
    text-transform: uppercase;
    display: inline-block;
    padding: 0 14px; }
  .bs-fp-t16 .fp-price span {
    font-size: 14px;
    display: block; }
  .bs-fp-t16 .fp-changes {
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .bs-fp-t16 .bs-fp-inner {
    color: #ffffff;
    text-align: center;
    background-color: #1e1e1e;
    width: 289px;
    max-width: 100%;
    border-radius: 5px;
    border-bottom: none;
    padding: 16px 10px 0;
    line-height: 16px; }

.bsfp-widgets-list.bsfp-align-columned .bs-fp-t16.bs-fp-s0 {
  border-bottom: none !important; }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t16.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t16.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t16.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t16.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t16.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t16.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t16.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t16.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t16.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t16.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t16.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t16.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t16.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t16.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t16.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t16.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t16.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp-t16.bs-fp-s0 {
    width: 100% !important; }
    .bsfp-align-columned.bsfp-columns-2 .bs-fp-t16.bs-fp-s0 .bs-fp-inner {
      width: 100%; } }
