/**
 * => Type 3
 **/
.bsfp-widgets-list.bsfp-align-columned .bs-fp.bs-fp-t3 {
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: -1px; }
  .bsfp-widgets-list.bsfp-align-columned .bs-fp.bs-fp-t3 .bs-fp-inner {
    margin-bottom: -10px; }

.bs-fp-t3 {
  font-family: arial;
  display: inline-block; }
  .bs-fp-t3 .bs-fp-inner > * {
    vertical-align: middle;
    line-height: 22px; }
  .bs-fp-t3 .fp-logo {
    width: 15px;
    margin-right: 1px;
    display: inline-block; }
  .bs-fp-t3 .fp-logo img {
    max-width: 100%;
    display: inline-block;
    margin-top: -2px; }
  .bs-fp-t3 .fp-text {
    float: left;
    line-height: 13px; }
  .bs-fp-t3 .fp-arrow {
    display: inline-block; }
  .bs-fp-t3 .fp-arrow:before {
    font-size: 8px;
    position: relative; }
  .bs-fp-t3 .fp-name {
    font-size: 12px;
    color: #1a1919;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin-right: 3px; }
  .bs-fp-t3 .fp-price {
    font-size: 13px;
    color: #a7a7a7;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block; }
  .bs-fp-t3 .fp-price sub {
    bottom: 0; }
  .bs-fp-t3 .fp-changes {
    font-size: 10px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .3px; }
  .bs-fp-t3 .fp-up {
    color: #1abe63; }
  .bs-fp-t3 .fp-down {
    color: #da2e32; }

.bsfp-data-currency .bs-fp-t3.bs-fp-s3 .fp-logo,
.bsfp-data-currency .bs-fp-t3.bs-fp-s2 .fp-logo,
.bsfp-data-currency .bs-fp-t3.bs-fp-s1 .fp-logo,
.bsfp-data-currency .bs-fp-t3.bs-fp-s0 .fp-logo {
  width: 20px; }

.bsfp-data-currency .bs-fp-t3.bs-fp-s0 .fp-name {
  text-transform: capitalize; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t3.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t3.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t3.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t3.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t3.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t3.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t3.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t3.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t3.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t3.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t3.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t3.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t3.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t3.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t3.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t3.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t3.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp-t3.bs-fp-s0 {
    width: 100% !important; } }
