/**
 * => Type 17
 **/
.bsfp-widgets-list.bsfp-align-columned .bs-fp.bs-fp-t17 {
  padding-bottom: 25px;
  padding-top: 15px;
  margin-bottom: -1px; }
  .bsfp-widgets-list.bsfp-align-columned .bs-fp.bs-fp-t17 .bs-fp-inner {
    margin-bottom: -15px; }

.bsfp-widgets-list.bsfp-align-auto.bsfp-widget-24 .bsfp-list-inner {
  margin: 0 -20px -20px; }

.bsfp-widgets-list.bsfp-align-auto.bsfp-widget-24 .bs-fp {
  margin: 0 20px 13px; }

.bs-fp-t17 {
  display: inline-block;
  position: relative;
  font-family: arial;
  padding-bottom: 6px; }
  .bs-fp-t17 .fp-logo {
    float: left;
    width: 32px;
    text-align: center;
    margin-top: 2px;
    margin-right: 10px; }
  .bs-fp-t17 .fp-logo img {
    max-width: 100%;
    display: block; }
  .bs-fp-t17 .fp-logo + .fp-text {
    float: left; }
  .bs-fp-t17 .fp-arrow {
    display: inline-block;
    margin-left: -1px; }
  .bs-fp-t17 .fp-arrow:before {
    font-size: 9px;
    position: relative; }
  .bs-fp-t17 .fp-name {
    font-size: 13px;
    color: #1a1919;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 17px;
    font-weight: bold;
    margin-bottom: 4px; }
  .bs-fp-t17 .fp-price {
    font-size: 12px;
    color: #838383;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: .3px; }
  .bs-fp-t17 .fp-price sub {
    bottom: 0; }
  .bs-fp-t17 .fp-changes {
    font-size: 12px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin-left: 1px;
    line-height: 12px; }
  .bs-fp-t17 .fp-up {
    color: #1abe63; }
  .bs-fp-t17 .fp-down {
    color: #da2e32; }

.bsfp-widgets-list.bsfp-align-columned .bs-fp-t18.bs-fp-s0 {
  border-bottom: none !important; }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t17.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-3 .bs-fp-t17.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t17.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-4 .bs-fp-t17.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t17.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-5 .bs-fp-t17.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t17.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-6 .bs-fp-t17.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t17.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-7 .bs-fp-t17.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t17.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-8 .bs-fp-t17.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t17.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-9 .bs-fp-t17.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

.bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
  width: 100%; }

@media (max-width: 700px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t17.bs-fp-s0 {
    width: 50%; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(3n-5) {
      clear: none; }
    .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t17.bs-fp-s0.bs-fp:nth-child(odd) {
      clear: left; } }

@media (max-width: 470px) {
  .bsfp-widgets-list.bsfp-align-columned.bsfp-columns-10 .bs-fp-t17.bs-fp-s0 {
    width: 100%; } }

@media (max-width: 370px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp {
    width: 100% !important; } }

@media (max-width: 470px) {
  .bsfp-align-columned.bsfp-columns-2 .bs-fp-t17.bs-fp-s0 {
    width: 100% !important; }
    .bsfp-align-columned.bsfp-columns-2 .bs-fp-t17.bs-fp-s0 .bs-fp-inner {
      width: 100%; } }
